@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.section-1 .container {
    background-image: url("../img/background.jpg");
    color: whitesmoke;
    padding: 20px;
}
.section-1 .container .inner-wrap .inner-main .inner-menu ul{
    list-style-type: none;
}
.section-1 .container .inner-wrap .inner-main .inner-menu ul li{
    text-decoration: none;
}
.section-1 .container .inner-wrap .inner-main {
    display: flex;
    margin-top: 30px;
}
.section-1 .container .inner-wrap .inner-main .inner-menu ul{
   
        background-color: whitesmoke;
        box-shadow: -10px -5px 5px white, 10px 5px 5px grey;
        width: 200px;
        padding: 10px;
    
}
.section-1 .container .inner-wrap .inner-main .inner-menu{
       width: 15%;    
}
.section-1 .container .inner-wrap .inner-main .inner-content{
    width:  85%;
    display: flex;
    position: relative;
    flex-direction: column;
    border-left: 5px solid #009B00;
    padding: 0px 20px;
}
.section-1 .container .inner-wrap .inner-main .inner-content .content1{
    display: flex;
}
.section-1 .container .inner-wrap .inner-main .inner-menu ul li a{
    text-decoration: none;
    color: #9F52A5;
    font-size: 20px;
}
.section-1 .container .inner-wrap .inner-main .inner-menu ul li{
    margin-bottom: 20px;
}
.section-1 .container .inner-wrap .inner-main .inner-content .content1 .main .inner-title{
    background-color: #009B00;
    letter-spacing: 10px;
    padding-left:100px ;
    margin-bottom: 20px;
    width: 70%;
    font-size: 40px;
    font-style: italic !important;
}

.section-1 .container .inner-wrap .inner-main .inner-content .content1 .img{
    width: 30%;
    margin-top: 50px;
}
.section-1 .container .inner-wrap .inner-main .inner-content .content1 .main  .inner-desc, .aa{
    font-size: 23px;
}
.section-1 .container .inner-wrap .inner-main .inner-content .content1 .img img{
    border: 1px solid black;
}
.section-1 .container .inner-wrap .inner-main .inner-content .content2 li{
        font-size: 23px;

}
.section-1 .container .inner-wrap .inner-main .inner-content .content2 .inner-title{
    background-color: #009B00;
    padding-left:40px ;
    margin-bottom: 20px;
    width: 70%;
    font-size: 30px;
}
.section-1 .container .inner-wrap .inner-main .inner-content .content2 ul{
    margin-left: 100px;
    margin-bottom: 30px;
}
.aa{
    margin-bottom: 30px;
}
.section-1 .container .inner-wrap .inner-main  {
     border-bottom: 5px solid #009B00;
     padding: 0px 0px 30px;
}
.section-1 .container .inner-wrap .inner-footer  {
    margin-top: 5px;
     border-top: 5px solid #009B00;
     padding: 0px 0px 30px;
}
.inner-footer{
    text-align: center;
    font-size: 23px;
    padding: 20px;
}
